$font-family-base: 'Montserrat',
'Arial',
sans-serif;

// BirQadam Brand Colors
$birqadam-primary: #8BC34A; // Primary Color (Светло-зеленый)
$birqadam-accent: #e3794d; // Accent Color (Оранжево-персиковый)
$birqadam-success: #4CAF50; // Success Green
$birqadam-gray: #FAFAFA; // Background Gray
$birqadam-pure-white: #FFFFFF; // Чисто белый
$birqadam-background: #f8ecc4; // фон задний

$border-radius-lg: 16px;
$border-radius-md: 12px;
$border-radius-sm: 8px;
$transition-base: 0.2s ease;