@use './variables'as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: $font-family-base;
    background-color: #f8ecc4; // BirQadam Background
    color: #333;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color $transition-base;

    &:hover {
        color: $birqadam-primary; // BirQadam Primary цвет при наведении
    }
}

#app {
    min-height: 100vh;
}