# Python
__pycache__/
*.py[cod]
*.pyo

# Environments
env/
venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Node (если есть фронтенд в проекте)
node_modules/
dist/
build/
