# Python
__pycache__/
*.py[cod]
*.pyo

# Environments
env/
venv/
.env
.env.*
/BirQadamDjango/.env
/BirQadamDjango/.env.*

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

# Secrets
firebase-service-account.json
*.pem
*.key

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
__MACOSX/
._*
.DS_Store

# Node (если есть фронтенд в проекте)
node_modules/
build/
# Frontend build output (не коммитим скомпилированные файлы)
BirQadamDjango/frontend/dist/
BirQadamDjango/frontend/.idea/
BirQadamDjango/frontend/.vscode/
